#Root{
    background-image: url(Assets/MainBodyPic.jpg);
    background-size: auto;
    background-repeat: no-repeat;  
}

#BodyPart{
    clear: both;
    background-image: url(Assets/MainBodyPic.jpg);
    background-size: auto;
    min-height: 450px;;
    width: 100%;
}

#BodyPart #Heading h1{
    letter-spacing: 5px;
    padding-top:450px; 
    margin-top: 200px;
    font-size: 90px;
    font-family: "Anjel Script";
    margin-left: 20px;
    color: black;}

#BodyPart #Heading h1{
    margin-left: 20px;
    color: black;
}

#BusinessCard{
    background-color: rgb(1, 45, 90);
    min-height: 120px;
}

#BusinessCard .Best{
    margin-left: 80px;
    margin-right: 80px;
    color: white;
}
#BusinessCard h6{
    margin-top:10px;
}
